ion-content {
  --background: rgb(0, 0, 0, 0.5);
}

ion-card {
  background-color:rgb(255, 255, 255, 0.1);  
}

ion-item {
  --background: rgb(255, 255, 255, 0);
  -webkit-text-fill-color: rgb(255, 255, 255);
}

ion-icon{
    color: rgb(255, 255, 255);
}