ion-content {
  --background: rgb(0, 0, 0, 0.5);
}

ion-list {
  background-color:rgb(255, 255, 255, 0.1);  
}

ion-item {
  --background: rgb(255, 255, 255, 0);
}

h2{
    -webkit-text-fill-color: rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}